body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input, textarea {
    width: 200px;
    padding: 0;
    margin: 0;
}
 input[type=submit] {
    width: 204px;
 }

 button {
     width: 204px;
 }
